html {
  background-color:#fff;
}

h1,h2 {
  font-size:2rem;
  font-family:'Ubuntu', sans-serif;
  line-height:1.5;
  }

ol{
  list-style-type: lower-roman;
}

p{
  font-weight:normal;
  font-size:1rem;
  font-style:normal;
  font-family: 'Ubuntu', sans-serif;
}

a{color:blue;
}

a:hover{color:white;
}

blockquote{
  text-align: center;
  font-weight: normal;
  font-size: 2rem;
  font-style: normal;
  font-family: Arial, sans-serif;
  line-height: 1.5;

}

blockquote{
  font-weight:bold;
  font-size:2rem;
}
